/* Tailwind CSS 기본 지시어 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333; /* 제안된 기본 텍스트 색상 */
  /* background-color: #FFFFFF; /* HeroSection에 그라데이션 배경을 적용했으므로 여기서는 흰색을 유지하거나 필요에 따라 조정 */
}
@keyframes fadeInUp {
    /* 0% 상태: 불투명도 0, Y축(수직)으로 20px 아래에 위치 */
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    /* 100% 상태: 불투명도 1, 원래 위치(0px)로 이동 */
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
